@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill Hack for Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #18181b inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #18181b;
  /* tailwind zinc-900 */
}

/* Dynamic scaling for small screens */
html {
  font-size: 16px;
}

@media (max-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 340px) {
  html {
    font-size: 13px;
  }
}

body {
  background-color: #09090b;
  /* zinc-950 */
  color: #f4f4f5;
  /* zinc-100 */
}

* {
  -webkit-tap-highlight-color: transparent;
}