@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
    background-color: #09090b; /* zinc-950 */
    color: #f4f4f5; /* zinc-100 */
}

* { -webkit-tap-highlight-color: transparent; }
